
div#actions {
    /*background-color: #606060;*/
    bottom: 0;
    margin-bottom: 2vh;
    position: fixed;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0)
}

div#actions > * {
    display: inline-block;
    background: no-repeat;
    background-size: contain;

    border-radius: 1em;
    padding: 1em;
    margin-left: 1em;

    width: 16vh;
    height: 16vh;
}

div#actions > *:last-child {
    margin-right: 1em;
}

div#actions > *:active {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}

div#actions > *:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

div#actions > div.WAIT {
    background-image: url("../img/actions/wait.png");
}

div#actions > div.ENTER {
    background-image: url("../img/actions/enter.png");
}

div#actions > div.DESCEND {
    background-image: url("../img/actions/descend.png");
}

div#actions > div.EXIT {
    background-image: url("../img/actions/exit.png");
}

div#actions > div.GET_CROWN {
    background-image: url("../img/actions/get_crown.png");
}

div#actions > div.GO_NORTH {
    background-image: url("../img/actions/arrowN.png");
}

div#actions > div.GO_WEST {
    background-image: url("../img/actions/arrowW.png");
}

div#actions > div.GO_EAST{
    background-image: url("../img/actions/arrowE.png");
}

div#actions > div.GO_SOUTH {
    background-image: url("../img/actions/arrowS.png");
}

div#actions > div.RESTART_GAME {
    background-image: url("../img/actions/restart_game.png");
}













