

h1.action_description{
    font-family: "Modern Antiqua", "Ubuntu Mono";
    font-size: 6vh;
    width: 80vw;
    text-align: center;
    color: #FFF;
    opacity: 0;
    bottom: 0;
    position: fixed;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -16vh);
    transition: opacity 0.5s;
}


/*Turn description visible when hovering the action(its parent div)*/
div#actions > *:hover > h1.action_description{
    opacity: 255;
    transition: opacity 1s;
}
